<div class="row py-5 ">
  <h6 class="text-center fs-22 fw-bold">خرید بر اساس برند</h6>
  <a href="#" class="col-4 col-md-2 col-lg-2">
    <img src="../../../assets/images/92ae1f8d03d83e4aced405e086696ca19d6f99bc_1661667744.png" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center">اپل</h3>
  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2">
    <img src="../../../assets/images/05e9bd48cf317454da587175b09231b65322d79a_1661667737.png" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center">ایسر</h3>

  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2">
    <img src="../../../assets/images/9e5d9a717682abd6a2cbf89d518c416418ceb660_1661667750.png" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center">ایسوس</h3>

  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2">
    <img src="../../../assets/images/63ace1cf02238567fbd2fcd30544ea8ffb81e8c5_1661667757.png" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center">اچ چی</h3>

  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2">
    <img src="../../../assets/images/aab13d5fbb4d07b076d81e4931d601a002d5d943_1661667763.png" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center">لنوو</h3>

  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2">
    <img src="../../../assets/images/b0ed4084074efca38b198605237b08a746138a2b_1676814335.png" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center">ام اس آی</h3>

  </a>
</div>
