<!--slider-->
<div class=" py-5 mt-4">
  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="../../../assets/images/fc6bb930592641b6708f867ebbdfcb59fb5fd8da_1713338714.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />


    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../../assets/images/62524e2f1d31fbfd0f68cc3e5928cba4faddd6d6_1703507126.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />

    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../../assets/images/0ae885735eba15647b221c36ab0310d89f532a8b_1703507297.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />

    </mdb-carousel-item>
  </mdb-carousel>
</div>


<div class="container">
  <!--categories-->
  <div class="row py-5 ">
    <h6 class="text-center fs-22 fw-bold">خرید بر اساس برند</h6>
    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="../../../assets/images/92ae1f8d03d83e4aced405e086696ca19d6f99bc_1661667744.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">اپل</h3>
    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="../../../assets/images/05e9bd48cf317454da587175b09231b65322d79a_1661667737.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">ایسر</h3>

    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="../../../assets/images/9e5d9a717682abd6a2cbf89d518c416418ceb660_1661667750.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">ایسوس</h3>

    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="../../../assets/images/63ace1cf02238567fbd2fcd30544ea8ffb81e8c5_1661667757.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">اچ چی</h3>

    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="../../../assets/images/aab13d5fbb4d07b076d81e4931d601a002d5d943_1661667763.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">لنوو</h3>

    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="../../../assets/images/b0ed4084074efca38b198605237b08a746138a2b_1676814335.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">ام اس آی</h3>

    </a>
  </div>

  <!--products-->
  <app-product-list></app-product-list>


  <!--banners-->
  <div class="row py-5">
    <div class="col-12 col-md-6 py-2 py-md-0">
      <img src="../../../assets/images/banner1-1-min.jpg" alt="banner1-1-min" class="w-100 rounded-3">
    </div>

    <div class="col-12 col-md-6 py-2 py-md-0">
      <img src="../../../assets/images/banner2-1-min.jpg" alt="banner2-1-min.jpg" class="w-100 rounded-3">
    </div>


  </div>


  <!--  banner-->
  <div class="d-none d-md-block py-5">
    <img src="../../../assets/images/3.gif" class="w-100 rounded-3" alt="gif banner">
  </div>


  <!--    articles-->
<app-article></app-article>


  <!--QA-->
<app-question-answer></app-question-answer>



  <!--  banner-->
  <div class="d-none d-md-block py-5">
    <img src="../../../assets/images/karid-banner-min.png" class="w-100 rounded-3" alt="kharid-banner">
  </div>

</div>



