<!--slider-->
<div class=" py-5 mt-4">
  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="../../assets/images/fc6bb930592641b6708f867ebbdfcb59fb5fd8da_1713338714.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />


    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/images/62524e2f1d31fbfd0f68cc3e5928cba4faddd6d6_1703507126.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />

    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/images/0ae885735eba15647b221c36ab0310d89f532a8b_1703507297.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />

    </mdb-carousel-item>
  </mdb-carousel>
</div>


<div class="container">
  <!--categories-->
  <div class="row py-5 ">
    <h6 class="text-center fs-22 fw-bold">خرید بر اساس برند</h6>
    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="assets/images/92ae1f8d03d83e4aced405e086696ca19d6f99bc_1661667744.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">اپل</h3>
    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="assets/images/05e9bd48cf317454da587175b09231b65322d79a_1661667737.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">ایسر</h3>

    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="assets/images/9e5d9a717682abd6a2cbf89d518c416418ceb660_1661667750.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">ایسوس</h3>

    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="assets/images/63ace1cf02238567fbd2fcd30544ea8ffb81e8c5_1661667757.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">اچ چی</h3>

    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="assets/images/aab13d5fbb4d07b076d81e4931d601a002d5d943_1661667763.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">لنوو</h3>

    </a>

    <a href="#" class="col-4 col-md-2 col-lg-2">
      <img src="assets/images/b0ed4084074efca38b198605237b08a746138a2b_1676814335.png" alt="logo"
           class="w-75  d-flex m-auto homepage-category--logo">
      <h3 class="fw-bold fs-18 text-dark text-center">ام اس آی</h3>

    </a>
  </div>

  <!--products-->
  <section class="py-5">
    <h4 class="fw-bold fs-22 text-center">محصولات</h4>

    <div class="row row-cols-2 row-cols-md-4 g-4 ">
      <div class="col rounded-3">
        <div class="card h-100">
          <img src="../../assets/images/c42fb8fbf94bf01145303d60aa29778d66759575_1723015247.webp"
               class="card-img-top w-100 p-2" alt="Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.
            </p>
          </div>
          <div class="card-footer">
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--banners-->
  <div class="row py-5">
    <div class="col-12 col-md-6 py-2 py-md-0">
      <img src="../../assets/images/banner1-1-min.jpg" alt="banner1-1-min" class="w-100 rounded-3">

    </div>

    <div class="col-12 col-md-6 py-2 py-md-0">
      <img src="../../assets/images/banner2-1-min.jpg" alt="banner2-1-min.jpg" class="w-100 rounded-3">

    </div>


  </div>


  <!--    articles-->
  <div class="py-5">
    <h5 class="fs-22 fw-bold text-center pb-3">مقلات تخصصی</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/images/Best-Laptop-25M-9-284x180.webp" class="card-img-top" alt="Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/images/Gaming-laptop-cover.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/images/asus-laptop-cover.jpg" class="card-img-top" alt="Palm Springs Road"/>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to
              additional content. This card has even longer content than the first to show
              that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--QA-->
  <div class="row py-5">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            data-mdb-collapse-init
            class="accordion-button"
            type="button"
            data-mdb-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Accordion Item #1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-mdb-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just about any HTML
            can go within the <strong>.accordion-body</strong>, though the transition does
            limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            data-mdb-collapse-init
            class="accordion-button collapsed"
            type="button"
            data-mdb-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Accordion Item #2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-mdb-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by
            default, until the collapse plugin adds the appropriate classes that we use to
            style each element. These classes control the overall appearance, as well as the
            showing and hiding via CSS transitions. You can modify any of this with custom CSS
            or overriding our default variables. It's also worth noting that just about any
            HTML can go within the <strong>.accordion-body</strong>, though the transition
            does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            data-mdb-collapse-init
            class="accordion-button collapsed"
            type="button"
            data-mdb-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Accordion Item #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-mdb-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just about any HTML
            can go within the <strong>.accordion-body</strong>, though the transition does
            limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  banner-->
  <div class="d-none d-md-block py-5">
    <img src="assets/images/karid-banner-min.png" class="w-100 rounded-3" alt="kharid-banner">
  </div>

</div>



